{# group start #}{% if isGroup is not empty %}<div class="{{ classname('form-widget-group') }}">{% endif %}
{# icon at start #}{% if icon is not empty and iconPosition == 'start' %}<span class="{{ classname('form-widget-group-text') }}"><i class="{{ icon }}"></i></span>{% endif %}
{% block controls %}{% endblock %}
{# icon at end #}{% if icon is not empty and iconPosition == 'end' %}<span class="{{ classname('form-widget-group-text') }}"><i class="{{ icon }}"></i></span>{% endif %}
{# group end #}{% if isGroup is not empty %}</div>{% endif %}
